.header {
  display: flex;
  align-items: center;
  background-color: $bg-footer-header;
  padding: 17px 18px;
  font-family: $header-footer-family;
  .logo {
    text-align: center;
    background: $var1;
    a {
      padding: 10px 10px;
      font-size: 34px;
      line-height: 46px;
      font-weight: 600;
      text-decoration: none;
      color: #000;
    }
  }
  .navigation {
    margin: 0;
    padding: 0 0 0 165px;
    li {
      display: inline-block;
      color: $var1;
      padding: 10px 20px;
      font-size: 14px;
      line-height: 19px;
      text-decoration: none;
      cursor: pointer;
      background-image: linear-gradient($var1, $var1);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size 0.5s;
      position: relative;
      &:hover {
        background-size: 100% 2px;
      }
    }
  }
  .panel {
    margin-left: auto;
    display: flex;
    .authorization {
      color: $var1;
      padding: 10px 35px;
      font-size: 14px;
      line-height: 19px;
      text-decoration: none;
      position: relative;
      display: inline-block;
      &::before {
        content: url(../img/icon-login.svg);
        position: absolute;
        left: -10px;
        top: 8px;
      }
    }
    #lang {
      background: url(../img/icon-language.svg) no-repeat;
      display: inline-block;
      width: 30px;
      height: 20px;
      padding: 10px 15px;
      background-position-y: center;
      background-position-x: center;
    }
  }
}
