$price-color: #009fd7;
$product-text-color: #666;
$main-font-size: 14px;
$main-font-family: "OpenSans-Light", sans-serif;
$header-footer-family: "OpenSans-SemiBold", sans-serif;
$bg-footer-header: #000;
$var1: #fff;
